body {
    background-color: rgb(228, 228, 228);
}

.site-header {
    margin: 0 auto;
    background-image: url('images/recipe-header.jpg');
    background-position: center;
    background-size: cover;
}

.site-header-content {
    padding: 35px 15px;
    background-color: rgb(0, 0, 0, 0.4);
    text-align: center;
}

#navbarNav {
    margin: 0 auto;
}

.navbar-brand {
    color: #ffffff;
    font-size: 3em;
}

a.navbar-brand:hover {
    color: #ffffff;
}

.navbar {
    background-color: #a1cf99;
}

.bi-search {
    fill: white;
}

.d-flex {
    box-shadow: 2px 3px 4px rgba(93, 149, 109, 0.97);
    margin: 8px 0px;
    outline: none;
    border: 0px !important;
}

.form-control {
    border-radius: 50px 0px 0px 50px;
    border-width: 0px;
    border: none;
    outline: none;
    border: 0px !important;
    transition: background-color 0.5s;
}

.btn {
    border-radius: 0px 50px 50px 0px;
    padding-left: 0.55rem;
    background-color: rgb(20, 114, 83);
}

.btn:hover {
    background-color: #51a772;
}

.footer {
    position: fixed;
    display: inline-block;
    padding: 8px 16px;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #dee2e6;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    background-color: #fff;
    border-radius: 4px;
}

a.home-button {
    color: #bdbdbd;
    text-decoration: none;
    transition: color 0.5s;
}

a.home-button:hover {
    color: #696969;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.search-center {
    text-align: center;
}

div.list-center {
    text-align: center;
}

ul.card-text {
    display: inline-block;
    text-align: left;
}

pre {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10em 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

*:focus {
    border: none !important;
    outline: none !important;
}

*:active {
    border: none !important;
}

.form-control:focus {
    background-color: #d6d6d6;
    border-width: 0 !important;
    outline-width: 0 !important;
}