{% extends 'base.html' %}

{% block content %}
<style>
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  div.search-center {
    text-align: center;
  }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Results</title>
</head>
<body>
  <h1>Search Results for "{{ query }}"</h1>
  <div class="search-center">
  <ul style="display: inline-block; text-align: center;">
    {% for result in results %}
      <li style="text-align: center; display: inline-block;">
        <a href="/recipe/{{ result['idMeal'] }}">
          {{ result['strMeal'] }}
          <img src="{{ result['strMealThumb'] }}" alt="{{ result['strMeal'] }}" style="width: 45%">
          <br>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
</body>
</html>
{% endblock %}