{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Results</title>
</head>
<body>
  <h1>Search Results for "{{ query }}"</h1>
  <ul>
    {% for result in results %}
      <li>
        <a href="/recipe/{{ result['idMeal'] }}">
          {{ result['strMeal'] }}
          <img src="{{ result['strMealThumb'] }}" alt="{{ result['strMeal'] }}">
        </a>
      </li>
    {% endfor %}
  </ul>
</body>
</html>
{% endblock %}